* {
 margin: 0;
 padding: 0;
background-color: pink;
}

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Prata&family=Roboto:wght@500&family=Satisfy&display=swap');


body{
    color:rgb(158, 65, 80)
}

.foto{
    width: 250px; 
    height:250px;
   border:rgb(195, 43, 68);
   border-width: 5px;
   position: relative;
   margin-left: 60%;
   margin-top: 10%;
}

.titulo-nome{
    font-family: 'Berkshire', cursive;
    font-size: 50px;
    margin-top: 50%;
    border-bottom: 5px;
    border-color:rgb(195, 43, 68) ;
}