@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Berkshire+Swash&family=Prata&family=Roboto:wght@500&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: pink;
}

.linque1,
.linque2,
.linque3,
.linque4 {
    font-size: 30px;
    color: rgb(158, 65, 80);
    font-family: 'Prata', serif;
    margin-left: 10%;
}


body {
    color: rgb(158, 65, 80);
}

p {
    text-align: justify;
    color: rgb(158, 65, 80);
    font-family: 'Prata', serif;
    margin-left: 10%;
    margin-right: 30%;
}

p+p {
    text-indent: 1.5em;
    margin-top: 10px
}

.centro {
    display: flex;
    width: 100%
}


.foto {
    position: absolute;
    object-fit: cover;
    width: 280px;
    height: 300px;
    border-width: 5px;
    margin-left: 65%;
    margin-top: 10%;
    margin-bottom: 0%;
  
    border-width: 20px;
    border-style: double;
    border-color: rgb(195, 43, 68);

}

.titulo-nome {
    color: rgb(195, 43, 68);
background-color: black;
    font-family: 'Alex Brush', cursive;
    font-size: 80px;
    margin-top: 17%;
    border-bottom: 5px;
    position: relative;
    width: 65%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.rodape {
   
    display: block;
    padding-left: 100px;
    margin-top: 12%;
    bottom: 0%;
}

.rodape img {
    display: inline;
    background-color: black;
    margin-left: 2px;
    width: 30px;
    height: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    

    
}





ul {
    margin-bottom: 20px;
    margin-left: 40px;
}

.titulo-experiencia {
    font-size: 50px;
    display: block;
    font-family: 'Prata';
    background-color: black;
    margin-top: 10px;
    padding-left: 20%;
    color: pink;
}

li {
    font-size: medium;
    font-family: 'Roboto';
    text-align: justify;
    margin-left: 60px;
}

.titulo-exp {
    margin-left: 30px;
}